In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
# load CSV (already uploaded in Jupyter folder)
df = pd.read_csv("ps1small.csv")
df.head()

    wage  education  age
0  30000         17   30
1  16000         12   27
2  43500         17   28
3  18000         12   30
4  25000         17   27

In [3]:
df["lwage"] = np.log(df["wage"])
df.head()

    wage  education  age      lwage
0  30000         17   30  10.308953
1  16000         12   27   9.680344
2  43500         17   28  10.680516
3  18000         12   30   9.798127
4  25000         17   27  10.126631

In [6]:
df["edu_age"] = list(zip(df["education"], df["age"]))
D = pd.get_dummies(df["edu_age"], prefix="d")

In [8]:
# Build clean numeric design, drop bad rows, then fit
y = pd.to_numeric(df["lwage"], errors="coerce")
X = sm.add_constant(D.drop(D.columns[0], axis=1))
Z = pd.concat([y, X], axis=1).replace([np.inf, -np.inf], np.nan).dropna()
model = sm.OLS(Z["lwage"].astype(float), Z.drop(columns="lwage").astype(float)).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     2.938
Date:                Thu, 30 Oct 2025   Prob (F-statistic):           4.90e-07
Time:                        18:31:44   Log-Likelihood:                -1099.1
No. Observations:                 898   AIC:                             2258.
Df Residuals:                     868   BIC:                             2402.
Df Model:                          29
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.4513      0.091    104.112      0.000       9.273       9.629
d_(12, 27)    -0.1509      0.124     -1.213      0.225      -0.395       0.093
d_(12, 28)     0.0865      0.123      0.702      0.483      -0.155       0.328
d_(12, 29)    -0.0655      0.125     -0.525      0.599      -0.310       0.179
d_(12, 30)     0.1770      0.126      1.402      0.161      -0.071       0.425
d_(13, 26)     0.1608      0.212      0.757      0.449      -0.256       0.578
d_(13, 27)     0.3046      0.212      1.434      0.152      -0.112       0.721
d_(13, 28)    -0.0732      0.197     -0.372      0.710      -0.459       0.313
d_(13, 29)     0.3687      0.241      1.527      0.127      -0.105       0.842
d_(13, 30)    -0.0048      0.222     -0.022      0.983      -0.441       0.432
d_(14, 26)     0.1293      0.241      0.536      0.592      -0.344       0.603
d_(14, 27)     0.3431      0.193      1.773      0.077      -0.037       0.723
d_(14, 28)     0.1909      0.234      0.815      0.416      -0.269       0.651
d_(14, 29)     0.2609      0.197      1.326      0.185      -0.125       0.647
d_(14, 30)     0.1941      0.193      1.003      0.316      -0.186       0.574
d_(15, 26)     0.0832      0.258      0.322      0.747      -0.423       0.590
d_(15, 27)    -0.0657      0.249     -0.264      0.792      -0.555       0.424
d_(15, 28)     0.1218      0.280      0.435      0.663      -0.427       0.671
d_(15, 29)     0.0890      0.268      0.332      0.740      -0.437       0.615
d_(15, 30)     0.4682      0.258      1.814      0.070      -0.038       0.975
d_(16, 26)     0.6192      0.190      3.252      0.001       0.245       0.993
d_(16, 27)     0.4931      0.208      2.371      0.018       0.085       0.901
d_(16, 28)     0.5407      0.174      3.115      0.002       0.200       0.881
d_(16, 29)     0.7272      0.159      4.570      0.000       0.415       1.040
d_(16, 30)     0.6193      0.188      3.302      0.001       0.251       0.987
d_(17, 26)     0.5070      0.492      1.031      0.303      -0.458       1.472
d_(17, 27)     0.5944      0.241      2.462      0.014       0.121       1.068
d_(17, 28)     0.7143      0.310      2.308      0.021       0.107       1.322
d_(17, 29)     0.1662      0.428      0.388      0.698      -0.674       1.007
d_(17, 30)     0.5647      0.385      1.466      0.143      -0.191       1.321
==============================================================================
Omnibus:                      515.749   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6146.047
Skew:                          -2.389   Prob(JB):                         0.00
Kurtosis:                      14.893   Cond. No.                         20.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.